body {
    margin-top: 3%;
}

h1 {
    position: relative;
    top: 5%;
    left: 35%;
    font-size: 70px;
    margin-bottom: 150px;
}

h2 {
    display: inline;
    font-size: 40px;
    border-bottom: solid #f26522 3px;
    padding-bottom: 3px;
}

h3 {
    display: block;
    font-size: 50px;
    color: #f26522;
}

ul {
    position: relative;
    top: 25%;
    left: 10%;
}

li {
    list-style: none;
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    width: 60%;
}

a {
    text-decoration: none;
    color: #ffffff;
}

b {
    color: #f26522;
}

img {
    margin-top: 80px; 
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 20%;
    border-radius: 50%;
    border: solid #f26522 8px;
    transition: 0.5s;
}

img:hover {
    border-radius: 30px;
}
