.fa-arrow-alt-circle-left {
    color: #ffffff;
    position: absolute;
    top: 10%;
    left: 12%;
    transition: transform 0.7s, color 0.7s;
    }

.fa-arrow-alt-circle-left:hover {
    color: #296829;
    transform: scale(1.2);
}

h1 {
    position: absolute;
    top: 5%;
    left: 30%;
    font-size: 70px;
}

h2 {
    display: inline;
    font-size: 40px;
    border-bottom: solid #296829 3px;
    padding-bottom: 3px;
}

ul {
    position: absolute;
    top: 25%;
    left: 10%;
}

li {
    list-style: none;
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    width: 60%;
}

a {
    text-decoration: none;
    color: #ffffff;
}

b {
    color: #296829;
}

img {
    margin-top: 80px; 
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 20%;
    border-radius: 50%;
    border: solid #296829 8px;
    transition: 0.5s;
}

img:hover {
    border-radius: 30px;
}
