html {
    overflow-x: hidden;
    min-width: 1200px;
    background: #2d2d2d;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to left, #0c280c, #000000) fixed;  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to left, #0c280c, #000000) fixed; */
    color: #ffffff;
    font-family: proxima-nova, monospace;
}

.fa-arrow-alt-circle-left {
    color: #ffffff;
    position: absolute;
    top: 10%;
    left: 12%;
    transition: transform 0.7s, color 0.7s;
    }

.fa-arrow-alt-circle-left:hover {
    color: #f26522;
    transform: scale(1.2);
}